.code {
    font-family: monospace;
    font-size: 16px;
    white-space: pre;
}

.resultFileView {
    padding-left: 5px;
    border-left: 1.5px solid #909090;
}

.leftPannel {
    padding-left: 20px;
    background-color: #ECECEC;
}

.resultsTitle {
    margin-bottom: 5px;
}

.filters {
    margin-left: 200px;
}

.filetypeSelector {
    width: 75px;
}