.code {
    font-family: monospace;
    font-size: 16px;
    white-space: pre;
}

.resultFileView {
    padding-left: 5px;
    border-left: 1.5px solid #909090;
}

.resultLineNumber {
    padding-left: 20px;
}

.resultsTitle {
    margin-bottom: 5px;
}

.filters {
    margin-left: 200px;
}

.filetypeSelector {
    width: 75px;
}