body {
    margin: 0;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 13px;
}

body a, body a:hover {
    color: blue;
}

.root-ui {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-bar {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-between;
    flex-basis: 45px;
    background-color: #fff6de;
    border-bottom: 1px solid #A0A0A0;
}

.non-empty-input-section {
    margin-left: 7px;
    display: flex;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

.perf-info {
    margin-left: 7px;
}

.filters {
    margin-right: 80px;
}

.filter {
    margin-left: 20px;
    margin-right: 5px;
}

.filetypeSelector {
    width: 90px;
}

.author {
    margin-right: 20px;
    color: grey;
}

.main-content {
    flex-grow: 1;
    display: flex;
}

.empty-input-content {
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.ts-logo {
    margin-right: 10px;
    height: 100px;
    width: 100px;
}

.input {
    display: inline-block;
    width: 400px;
    margin-top: 20px;
}

.input .btn {
    height: 34px;
    width: 55px;
}

.input button {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4285f4;
    border-color: #4285f4;

}
.input button:hover {
    background-color: #4873f5;
    border-color: #4873f5;
}


.mainTable {
    margin-top: 20px;
}

.non-empty-query {
    width: 160px;
    height: 22px;
}


.code {
    font-family: monospace;
    font-size: 14px;
    white-space: pre;
}

.resultFileView {
    padding-left: 5px;
    border-left: 1.5px solid #909090;
}

.leftPannel {
    padding-left: 20px;
    background-color: #ECECEC;
}

.resultsTitle {
    margin-top: 22px;
    margin-left: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}

.hintCard {
    border: 1px solid #909090;
    width: 200px;
    height: 30px;
    z-index: 0;
    background-color: #fff6de;
    padding: 5px;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.sectionSeparator {
    border-top: 1px solid #A0A0A0;
}

.marginTop30 {
    margin-top: 30px;
}

.contextCode {
    color: #B2B2B2;
}
