<html>
<head>
 <link rel="stylesheet" type="text/css" href="style.css">
 <link rel="stylesheet" href="../css/bootstrap.min.css">
 <script type="text/javascript" src="<%=bundledJSFile%>"></script>
    <script>
        var results = <%- JSON.stringify(results) %>;
    </script>
</head>
<body>
<div id="root" />
</body>
</html>
