<!DOCTYPE html>
<head>
</head>
<body>
    <h3>Welcome to ThoughtSpot Tools</h3>
    <span>
        <a href="/codesearch">Code Search</a>
    </span>
    <span style="margin-left: 40px">
        <a href="/obj">Object Tool</a>
    </span>
</body>
</html>
