body {
    margin: 0;
    font-size: 14px;
}

label {
    font-weight: normal !important;
}

table {
    font-size: 13px;
}

td {
    max-width: 500px;
    word-wrap: break-word;
}

.response .alert {
    padding: 10px;
    border-radius: 2px;
}

td.rowKey {
    width: 5%;
}

td.rowValue {
    width: 95%;
}

.mainTable td.rowKey.depth0  {
    min-width: 140px;
}

/* The main DB config dialog that shows for the first time */
.primaryDbConfig {
    width: 435px;
    height: 250px;
    box-shadow: 0px 0px 15px #888888;
    border-radius: 6px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 12px;
}

.primaryDbConfig .help {
    margin-bottom: 10px;
}

.primaryDbConfig .btn-primary {
    width: 100%;
    font-size: 16px;
}

.topBar {
    background-color: #fff6de;
    border-bottom: 1px solid #A0A0A0;
    height: 42px;
}

/* Host and port form that always shown on top right corner */
.topRightDbconfig {
    float: right;
    margin-top: 8px;
    font-size: 12px;
}

.topRightDbconfig input {
    margin: 0 5px;
}

.topRightDbconfig button {
    background-color: #FBFBFB;
    border: 1px solid #ced0d4;
    border-radius: 2px;
    color: #50545A;
    box-shadow: none;
    margin-right: 5px;
    font-weight: 500;
}

.topRightDbconfig button, .topRightDbconfig input {
    height: 24px;
}

.topRightDbconfig button:hover {
    background-color: #F3F3F3;
}

.topRightDbconfig button:focus, .topRightDbconfig button:active {
    outline: none !important;
}

#root .objectExplorer {
    margin-top: 30px;
}

.input button {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4285f4;
    border-color: #4285f4;
}

.input button:hover {
    background-color: #4873f5;
    border-color: #4873f5;
}

.input, .unusualResponse {
    margin-left: 30px;
    display: inline-block;
}

.input, .unusualResponse .alert-info {
    width: 400px;
}

.unusualResponse .alert-danger {
    min-width: 400px;
}

.typeInfo {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-left: 200px;
}

.response {
    margin-top: 25px;
}

.hovercard {
    position: absolute;
    z-index: 0;
    background-color: rgb(232, 255, 232);
    padding: 10px;
    box-shadow: 0px 0px 15px #888888;
}

.hovercard table {
    max-width: 400px;
}

.borderless th, .borderless td {
    border-top: none !important;
    border-left: none !important;
}

.fixed-table-container {
    border: 0px;
}